[2018-10-10 08:39] ThormaehlenFred opened #9 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the timeline until when to assess the remai

[2018-10-10 11:18] ThormaehlenFred commented on #9
Thank you. I stopped the scheduling and will get no reports anymore for this Checkmarx project in the future.

[2018-10-25 09:06] prashanth26 opened #10 "Failed to remove unwanted ToBeDeletedByClusterAutoscaler taints"
## Issue

Autoscaler failed to remove taints from nodes that it had wrongly tainted

## Logs

`I1025 07:39:06.934286       1 delete.go:106] Releasing taint {Key:ToBeDeletedByClusterAutoscaler Value:1540453142 Effect:NoSchedule TimeAdded:<nil>} on node shoot--jaas--jaask8sos-worker-unfpk-z1-88cbf4966-qh29c
I1025 07:39:06.938911       1 delete.go:119] Successfully released toBeDeletedTaint on node s

[2018-10-25 09:12] prashanth26 commented on #10
FYI - @hardikdr

[2018-11-20 08:37] prashanth26 commented on #10
There are two parts to this issue.

1.

[2018-12-20 08:32] ThormaehlenFred opened #13 "CNCF Compliance"
The Gardener project informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#security) under _Publicly known vulnerabilities fixed_, that it includes no unpatched vulnerabilities of medium or high severity that have been publicly known for more than 60 days. This repository has findings, which must be assessed by the component owner(s). Please

[2018-12-28 06:38] KesavanKing commented on #10
During my performance tests with Density framework, after the workloads deletion, nodes scaled down  to 5 from 10. There also I faced this issue, where I can see the taint labels for the existing nodes as well

[2019-01-02 08:09] ThormaehlenFred commented on #13
ping

[2019-01-03 14:07] hoeltcl commented on #13
This issue must be resolved until **January 17th 2019** latest. Please contact [ThormaehlenFred]( https://github.com/ThormaehlenFred) or [hoeltcl](https://github.wdf.sap.corp/hoeltcl) if not already done.

[2019-01-14 08:09] hardikdr commented on #13
Thanks for reporting @ThormaehlenFred @hoeltcl .
We are looking into it and will resolve it as soon as possible.

[2019-01-16 09:50] hoeltcl opened #14 "CNCF Compliance"
The Gardener project informs its stakeholders in its CNCF CII Badge under Publicly known vulnerabilities fixed, that it includes no unpatched vulnerabilities of medium or high severity that have been publicly known for more than 60 days. This repository has findings, which must be assessed by the component owner(s). Please contact me via e-mail and I will give you more information where and how to

[2019-01-16 10:13] #14 closed

[2019-02-20 15:28] ThormaehlenFred opened #16 "Update perl"
Update perl from  5.24.1-3+deb9u4 to 5.28.1 to patch CVE-2018-18311

[2019-02-26 09:28] prashanth26 commented on #16
Closing as we are not invoking Perl scripts at any point in our code path.

[2019-02-26 09:28] #16 closed

[2019-05-23 04:55] prashanth26 opened #18 "CA didn't scale up when current nodes was below min"
# Issue
A cluster had only 4 nodes even though the CA min. nodes were set to 5. The CA didn't try to scale up the desired nodes.

cc: @mliepold

[2019-05-23 10:14] vlerenc commented on #18
cc: @dguendisch

[2019-07-18 06:13] prashanth26 opened #19 "Reduce load on the APIServer"
## Issue

- Autoscaler creates significantly more requests on the `machines` resources.

## Solution

Need to minimize them

Credits: @amshuman-kr

[2019-08-05 05:47] PadmaB opened #20 "[Feature] Support zero sized worker-pools"
**Feature (What you would like to be added):**
As a consumer, I should be able to define worker-pools with min value as zero

**Motivation (Why is this needed?):**
In certain usecases, it will be necessary to define worker-pools of different machines but control the active instances [especially the larger instances] based on the load. Currently it is not possible to define a worker pool with min a

[2019-08-05 05:48] rfranzke commented on #20
Do we really need to support this in the autoscaler? Instead, we could also modify Gardener to allow this and simply omit those machine deployments in the the autoscaler's configuration?

[2019-08-05 05:56] PadmaB commented on #20
Isn't this approach over-riding the autoscaler behavior itself?
AFAIK, autoscaler will not be able to identify which worker-pool to scale when required in case the min is zero. Hence, the size should be atleast one
@hardikdr your inputs?

[2019-08-05 05:58] rfranzke commented on #20
Yes, sure, we could fix it in the autoscaler anyways. Just saying that if we want to have the feature that people can use worker pools with min=0 then you could also implement this (maybe much quicker?) in Gardener itself.

[2019-08-05 09:15] prashanth26 commented on #20
There are two parts to the problem here,

1. Support workers where `min=0` is possible. --->  This can be handled by omitting the `machine deployment` as mentioned above. This is something that is _manually triggered_ by cluster owners.

2. Support CA to scale workers from 0-Max --->  This makes sense in scenarios where machines with special properties (e.g. GPU) might not always be required. So i

[2019-08-14 11:00] amshuman-kr opened #22 "Update the MachineDeployment's Scale subresource"
### Issue

Just for scaling, the whole `MachineDeployment` resource is being updated [here](https://github.com/gardener/autoscaler/blob/machine-controller-manager//cluster-autoscaler/cloudprovider/mcm/mcm_manager.go#L213) and [here](https://github.com/gardener/autoscaler/blob/machine-controller-manager//cluster-autoscaler/cloudprovider/mcm/mcm_manager.go#L314).

### Solution

Only the `Scale` subr

[2019-09-13 07:28] amshuman-kr opened #24 "Clean up the repo to make rebasing with upstream as automatic as possible"
### Issue

The current changes in this fork make it hard to automatically rebase to upstream changes. Due to this, further manual changes are required every time we want to take in changes from upstream.

This following list is the chronological order of our commits as far as I can see. It needs to be verified to see if I have missed anything.
1. https://github.com/gardener/autoscaler/commit/c828a

[2020-01-09 08:19] rewiko commented on #20
Hello,

We've implemented [this feature](https://github.com/gardener/autoscaler/issues/20#issuecomment-518154237) on the machine-controller-manager and the autoscaler.
We have something working, just need to clean the code.
PR will be created soon.

[2020-01-13 15:22] rewiko commented on #20
Hi,

I have created the 2 PRs, ideally we should add more tests, but that will allow everyone to see the change and having feedback.
[Allow mcm provider to scale down to 0](https://github.com/gardener/autoscaler/pull/26)
[Update status when replicas undefined or equal to zero](https://github.com/gardener/machine-controller-manager/pull/387)

[2020-01-17 09:55] prashanth26 commented on #20
Reopening issue in favor of pending changes on autoscaler - https://github.com/gardener/autoscaler/pull/26

[2020-01-20 09:01] hardikdr opened #27 "Generic Scale-to-Zero Support"
## What would you like to be added

1. Allow scale from zero across all providers support by [MCM](https://github.com/gardener/machine-controller-manager).
2. Configure the upcoming resources (CPU/Memory) while scaling from zero for a worker pool in a dynamic manner.
3. ~Allow for CA to be aware of enhanced memory/CPU done by `memory-one-suse-CHost`~

## Why is this needed

- Currently, this is lo

[2020-01-20 09:08] rewiko commented on #27
I think the second option makes sense to me, defining the instance types/Zone/OS/Arch on the machine class would allow autoscaler with mcm as provider to be agnostic of any others provider.

[2020-01-20 19:26] enxebre commented on #27
how about providers that can't be conveyed in a static instanceTypes variable but rather need to fetch values dynamically, e.g vsphere, openstack., libvirt, baremetal...
Wouldn't it be reasonable to rather let each provider class controller to the provider specific logic to fetch values from a type (dynamically or statically, let it be a provider choice), and let the class expose them via status/a

[2020-01-27 13:34] dtsvetkovsap opened #28 "Cluster autoscaler is triggered during provisioning of PVC"
During scheduling of a StatefulSet, PVCs are being provisioned for the pods. During that time, the pods are triggering an event FailedScheduling because the PVC is still not ready. Although this does not last long, it triggers an event TriggeredScaleUp.

This seems to have been resolved in an issue in Kubernetes Github project - https://github.com/kubernetes/autoscaler/issues/923

Can the same be

[2020-01-28 09:54] prashanth26 commented on #28
Hi @dtsvetkovsap ,

We use a forker version of the upstream autoscaler and seems have been fixed upstream. We have the task of rebasing our autoscaler with the upstream one. And once that's done this issue should be fixed.

[2020-02-03 19:55] rewiko opened #29 "[Feature] Implement this method to update the machinedeployments dynamically"
Based on https://github.com/gardener/autoscaler/blob/machine-controller-manager/cluster-autoscaler/cloudprovider/mcm/mcm_cloud_provider.go#L155
Cluster-autoscaler with mcm provider do not implement autodiscovery of machinedeployments, Min, Max and `autoscaling`: `true` fields could be created in MCM to allow CA to get all machines deployment with autoscaling enabled.

Also when the static list is

[2020-02-18 11:36] DanielZhangQD commented on #20
Hi,  if I configure a worker group with min=1, max=3 in one region of 3 zones, only one node group (--nodes=1:1:shoot--core--x.shoot--core--x-tidb-z1) will be configured for cluster auto-scaler, then when we need more nodes later, only nodes in this node group(dedicated in one zone) will be scaled, is this issue gonna fixed by #26 & #27?

[2020-02-18 19:53] rewiko commented on #20
@DanielZhangQD if you only define one node groups on the autoscaler config then it will only scale that one.

I'm not sure I understand your issue.
I would recommend to have at least one nodegroups/machinedeployments per AZ, then you sould define the 3 machine deployments to the cluster-autoscaler parameter, and you can add `--scale-similar-node-groups=true` to make sure your nodes are spread even

[2020-02-19 02:32] DanielZhangQD commented on #20
@rewiko Thanks for your reply!

[2020-03-03 06:22] hardikdr opened #30 "Avoid fixing nodegroup size"
## Issue
Cluster autoscaler currently seems to be trying to fix the node-group size if there is any inconsistency between the number of registered nodes and Machine-objects. CA may do this by reducing the targetSize of node-group, which is disruptive. We should investigate to disable such a feature.

Ref:
- https://github.com/kubernetes/autoscaler/blob/dbbd4572af2b666d32e582bf88c4239163706f8c/clus

[2020-03-03 08:23] vlerenc commented on #30
Thanks for following up.

[2020-03-04 06:53] hardikdr opened #31 "Investigate upstream autoscaler's node-group balancing update"
## Improvement:
We need to investigate if the changes in the below PR are impacting us and sync with upstream if necessary.
- https://github.com/kubernetes/autoscaler/pull/2848

[2020-03-04 06:57] hardikdr opened #32 "CAPI support in upstream autoscaler"
## Improvement
ClusterAPI provider support in upstream autoscaler is going towards merging now.  If I understand it well, it uses the unstructured types and dynamic informers, there seems to be a possibility we can directly consume it with MCM. Needs further investigation.

Refer: https://github.com/kubernetes/autoscaler/pull/1866

[2020-03-04 09:10] frobware commented on #32
I think the things you would want to be able to override or control at runtime are:

- API version
- Whether you want to support MachineSets
- Whether you want to support MachineDeployments, or both ^^

And the names of various annotations/constants:

[code]

[code]

[code]

[2020-03-13 12:41] hardikdr commented on #31
Also, this one: https://github.com/kubernetes/autoscaler/pull/2493 , needs to be checked.

[2020-04-09 05:49] #28 closed

[2020-04-09 06:43] hardikdr commented on #18
I think this is expected behavior from CA, hence closing the issue.
Ref: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#my-cluster-is-below-minimum--above-maximum-number-of-nodes-but-ca-did-not-fix-that-why

[2020-04-09 06:43] #18 closed

[2020-04-09 06:55] hardikdr opened #34 "Autoscaler may not scale from zero for statefulsets."
**What happened**: Cluster autoscaler may not be able to scale from zero for statefulsets-workload as autoscaler doesn't know the `zone` of the future nodes, under the zeroed machine-deployment.

**What you expected to happen**: I would expect, if max-limits are not hit, autoscaler should scale-up the machinedeployment in the zone where statefulset controller has created the pvc/pv.

**How to repr

[2020-04-22 16:02] hardikdr opened #35 "Autoscaler should pick alternate worker-pool if chosen one can't be scaled-up."
## Description:

Since recently, we have been seeing resource-scarcity on multiple cloud-providers, where requested machine-types are not available in many regions. With a fresh workload, cluster-autoscaler keeps scaling up the same worker-pool with unavailable machine-type/region, while other worker-pools with different machine-type/region could host the load. This leads to unnecessarily large an

[2020-04-22 16:02] hardikdr commented on #35
cc @vlerenc @ggaurav10 @prashanth26

[2020-04-22 16:05] hardikdr commented on #35
The same proposed solution can also be used to disable the scale-down of the node-groups, specifically the ones whose machine-types are not available.
- This is to not lose at least the existing capacity, with the consent from the user via configuration.

[2020-04-22 17:39] vlerenc commented on #35
If the annotation is set at the `machinedeployment`, it will be also available at the `node` resources, right? In that case, users would know. When they touch the spec again or once every 24h when the cluster reconciles (or that process is triggered manually), it would be quasi reset, so users could also remove the annotation, should they increase their quota or learn that the problem or shortage

[2020-04-27 05:30] hardikdr commented on #35
I took a little further look into it.
Following solution overall sounds reliable:
1. Changes at MCM:
   - Update the machine-controller to add the annotation of `cloudprovider/out-of-resources: True`, whenever a specific log-pattern/error-code is seen.
        - Please feel free to suggest a more suitable key/value for the annotation.
        - Just to mention, as an alternative, we could simply r

[2020-05-02 05:18] hardikdr opened #36 "Autoscaler can't scale-up the node-group with all unschedulable nodes."
**What would you like to be added**:
We observed autoscaler can't scale-up the node-group if all the nodes in the group are cordoned.
This could likely to be happening due to this [code-path](https://github.com/gardener/autoscaler/blob/machine-controller-manager/cluster-autoscaler/core/utils.go#L253).

We should either remove this check from upstream CA or from our fork.
**Why is this needed**:

[2020-05-02 05:21] vlerenc commented on #36
Thanks for opening @hardikdr. The other thing I didn't understand in that case is why 2 out of the 3 zoned worker pools where unschedulable. Who did that? The user, was it related to the pod with pdb=0 that couldn't be taken off, something else?

[2020-05-02 05:32] hardikdr commented on #36
I also could not understand this part. I checked the machines were not tainted via the machine-deployment's `NodeSpec` either. The user's take on this would be very useful to understand it further.

Machines are generally tainted unschedulable by CA/MCM, only when they are marked for deletion. This was not the case either when I checked.

I can't think of a case, where pdb issue could bring the cl

[2020-05-02 05:55] vlerenc commented on #36
OK, thank you @hardikdr. Even if the user did it manually and this is nothing, we still learned something interesting from this discussion ([code-path](https://github.com/gardener/autoscaler/blob/machine-controller-manager/cluster-autoscaler/core/utils.go#L253)), so that's good. 👍

[2020-05-06 11:53] vlerenc commented on #36
You mentioned out-of-band more information. Shall we keep the issue or close it with "works as expected" and not intervene?

[2020-05-06 11:57] vlerenc commented on #35
Thank you for the proposal @hardikdr. How much complexity did that introduce? All these changes scare me a bit as they touch multiple components and put a band-aid on a very specific problem that was reported now in 3y of this project for the first time (in an exceptional situation/the COVID-19 crisis). I am also worried that this feature may break later, because it will be infrequently applied. L

[2020-05-06 19:39] hardikdr commented on #36
I think this issue can be closed, nothing much we can do. This is expected behavior from Autoscaler.
Related discussion for reference: https://github.com/kubernetes/autoscaler/commit/ea7bd81681f874c03a1aed0611768f3e538f158c

[2020-05-06 19:39] #36 closed

[2020-05-07 04:37] #34 closed

[2020-05-13 07:57] hardikdr commented on #35
Yes, the solution did introduce dependent changes at multiple components[mcm, autoscaler], and hence a bit of complexity. I tested it by manually injecting the log-messages in the controller, we had seen earlier from Azure when resources are out of capacity.

Overall, an alternate solution could be to bring everything into autoscaler, and not touch MCM, autoscaler reads the FailedMachineSummary, f

[2020-05-21 12:19] vpnachev opened #46 "Scale-down does not work for k8s >=v1.16"
**What happened**:
I have created a shoot cluster with k8s of version v1.16
I've deployed some applications that triggered scale-up and new nodes were added, but after I've deleted the applications, scale-down is failing.

Here are the logs of the cluster autoscaler
[code]

I set the flags
[code]
to speed-up scale down, but this did not help at all.

**What you expected to happen**:
To scale under

[2020-05-21 13:12] prashanth26 commented on #46
I ran a few quick tests on the cluster pointed out by @vpnachev . The scale down seems to work. Might have been a false positive.

Two reasons for this,

1. There were pod anti-affinities on the cluster which were preventing a scale down.
2. Also there is an initial startup delay in scaledown which prevents CA to scale down in the initial few minutes (4-5mins after startup). Probably one of the co

[2020-05-21 13:43] hardikdr commented on #46
@prashanth26 Thanks for verifying.
@vpnachev can you please confirm, if this is really an issue or probably a misinterpretation?
There are also other flags like `--scale-down-delay-after-failure=1m` you might want to set.

[2020-05-22 15:31] vpnachev commented on #46
Thank you for looking into this issue.

Yesterday before to report this issue I tried with
[code]

but 5 minutes later I was still having 5 machines, while because of the anti affinity I needed only 3.

Anyway, the errors for `v1beta1.DaemonSet` are spamming the logs and it is very hard to look through them.

[2020-05-25 05:12] prashanth26 commented on #46
Did you try wait for a while longer? Bcoz I am sure it would've scaled down in a few minutes. When the nodes I mentioned scaled-down in 5mins, I had set params to 30s each.

Yes, we need to fix that by rebaseing the autoscaler with upstream / update k8s version. But this task is tedious as autoscaler's vendoring is broken upstream making our fork's vendoring also troublesome. We will fix this in t

[2020-05-27 09:27] vlerenc opened #47 "☂️ Improve VPA Recommendations"
**What would you like to be added**:
We would need better VPA recommendations for various cases of CPU and memory usage.

**Why is this needed**:
We see frequent outages of components such as the `gardenlet` when the load increases suddenly (spikes) and VPA only looks at the history instead of the actual usage.

**Discussion**:
See: https://sap-cp.slack.com/archives/GBVUBHM5K/p1590564020106000?thr

[2020-06-01 08:15] hardikdr commented on #47
Hi Vedran, is this issue really meant to be for the cluster-autoscaler? Or probably fits better at hvpa ?

[2020-06-01 08:46] amshuman-kr commented on #47
@hardikdr This is really for VPA. But there is no good place for filing issues for VPA. I think @vlerenc created it here because this is a fork of autoscaler and that technically includes VPA (though really we are forking only cluster-autoscaler).

It is currently open if we go for a custom VPA recommender of our own or enhance the existing VPA recommender.

[2020-06-01 08:56] hardikdr commented on #47
I see, thanks @amshuman-kr  and @gardener-robot for the clarification ..  :D

[2020-06-01 16:04] vlerenc commented on #47
Yeah, I am sometimes incognito. ;-)

[2020-06-08 05:12] hardikdr opened #48 "Inhibit cluster-autoscaler during cluster rollouts"
**What would you like to be added**:
Cluster-autoscaler seems to have undefined/un-intended behavior during cluster roll-outs.

Currently, worker-extension disables the cluster-autoscaler during roll-out using this [check](https://github.com/gardener/gardener/blob/master/extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go#L357).
- It mainly checks the `numUpdated >= numDesired`

[2020-06-08 05:13] hardikdr commented on #48
cc @vlerenc @amshuman-kr @rfranzke @prashanth26

[2020-06-08 07:27] tim-ebert commented on #48
cc @danielfoehrKn

[2020-06-08 11:22] vlerenc commented on #48
During a discussion back then with @rfranzke, option (4) with some tweaks seemed the easiest to implement (based on a new condition that @danielfoehrKn will introduce):

* There will be a new `RollingUpdate` condition for the worker extension objects
* When it's set, a controller in Gardener shall disable scale-down in CA by setting `--scale-down-enabled=false`
* Scale-up on the other hand shall r

[2020-06-08 11:35] hardikdr commented on #48
Overall that sounds like a good solution. Just that the check of removing the `RollingUpdate` condition could be enhanced a little. [machineset's replicas, or a number of machine-objects].

[2020-06-08 13:24] amshuman-kr commented on #48
@hardikdr I think option 2 is still workable with only changes to MCM and without any changes to CA.

1. As discussed offline, scale up is fully under the control of MCM and MCM can decide to scale up only the _new_ `MachineSet` if the scale up happens during a rolling update.
2. As for scale down, CA already provides an [annotation mechanism to mark nodes](https://github.com/gardener/autoscaler/b

[2020-06-08 13:37] amshuman-kr commented on #48
I am keen on option 2 for the following reasons.

1. The changes are limited to MCM.
1. CA (which is already a pain because of our forking) remains unchanged.
1. Worker controllers also remain unchanged.
1. Gardner/gardenlet can forget about any special logic for CA during machine rollout.
1. MCM and CA can be combined in a non-gardener context without any additional glue controller/logic.
1. Both

[2020-06-08 13:48] vlerenc commented on #48
@amshuman-kr I thought the main problem of (2) is the undesired taint and how to avoid it. If that's trivial, sure. If not, (4) looked simple enough and brings already most of the advantages of (2), e.g. not touching the CA code.

[2020-06-08 14:03] amshuman-kr commented on #48
@vlerenc If any node is marked with the `cluster-autoscaler.kubernetes.io/scale-down-disabled` annotation, then it is not considered for scale down. Hence, not tainted either. All it takes is to the create the _new_ `MachineSet` with this annotation in the node template. CA already has the code to check this annotation and skip such nodes.

[2020-06-08 14:08] vlerenc commented on #48
@amshuman-kr Ah, sure, yes, that's an excellent idea. Thanks!

[2020-06-10 03:47] hardikdr commented on #48
Thanks @amshuman-kr @vlerenc for the comments.

We overall seem to be agreeing on approach 2, with the solution of adding the cluster-autoscaler annotation on the new machine-sets.  I have opened the issue on MCM https://github.com/gardener/machine-controller-manager/issues/472  to track the actual changes.

[2020-06-10 06:11] prashanth26 commented on #48
I took a while to follow this discussion. But yes, looking at the discussions and suggestions even I seem to be okay with both approaches (2) & (4). However, since the changes in (2) are only restricted to MCM I prefer that as it keeps the implementation generic enough for external adaptors of MCM to also make use of this feature.

[2020-07-01 06:19] prashanth26 commented on #46
Hi @vpnachev ,

This seems like a false positive. However, we still need to update the [vendoring here](https://github.com/gardener/autoscaler/issues/24). I will close this issue for now.

[2020-07-27 17:50] hardikdr opened #51 "Consider the update from upstream"
**What would you like to be added**: We might want to rebase to the latest version sooner as possible considering the following update from upstream: https://github.com/kubernetes/autoscaler/issues/3224 .
- It can affect the scale-up for init containers based pods.

[2020-07-28 05:25] amshuman-kr commented on #51
Can we do this rebase in such a way as to make future rebasing smoother by keeping deviations from upstream to an easily identifiable minimum, grouped together on top of the upstream changes?

See #24 for more.

[2020-07-28 09:30] hardikdr commented on #51
Agreed, we seem to have messed it in the past by modifying the imports, in the core of it. We should keep the core-logic clean/untouched for easy rebase. I'll make the changes this time in the upcoming rebase.

Btw @prashanth26, do you remember any good reason behind changing the imports back then? Or are there any blockers otherwise?

[2020-07-28 09:58] prashanth26 commented on #51
No @hardikdr . I am unable to recollect the exact reason. But i think it had something to do with vendoring issues. I think we can revert that change to imports and core and see if it works to keep the previous imports.

[2020-07-31 19:09] #31 closed

[2020-08-03 10:44] hardikdr opened #52 "Ignore the node-group with min=0 for providers not supporting scale-from-zero"
**What would you like to be added**:
For the shoot-clusters with `worker-pool-min < number-of-zones`, at least one of the node-group could be set to zero and still configured with autoscaler. Knowing autoscaler can't scale-from-zero for certain providers, this situation blocks the overall scale-up of the cluster for those providers, due to its inherent nature.

There are potentially 2 solutions to

[2020-08-07 08:11] rfranzke commented on #48
We had another short discussion with @hardikdr @prashanth26 @timebertt, and @hardikdr @prashanth26 will take over the implementation in MCM short-term. Instead of only annotating the new nodes of a rolled machine deployment, the MCM will also annotate the old nodes. This is to prevent the CA from completely disabling scaling down machines from a machine deployment that is currently being rolled. A

[2020-08-07 08:11] rfranzke commented on #48
/area auto-scaling
/in-progress
/assign @hardikdr @prashanth26
/priority critical

[2020-08-16 14:22] prashanth26 commented on #46
/close

[2020-08-16 14:22] #46 closed

[2020-08-16 14:26] prashanth26 commented on #51
Consider this while making this update - https://github.com/gardener/autoscaler/issues/32#issue-575178547

[2020-08-16 14:28] prashanth26 commented on #24
close in favour of https://github.com/gardener/autoscaler/issues/51

[2020-08-16 14:30] hardikdr commented on #24
I think, this issue is about the larger rebase, considering all the patches. While the one you linked above is only about one very specific update from upstream.
I'd prefer to keep this open.

[2020-08-29 13:41] ialidzhikov opened #53 "cluster-autoscaler panics when newly launched instance type is used"
**What happened**:
Currently https://github.com/gardener/autoscaler/blob/machine-controller-manager/cluster-autoscaler/cloudprovider/azure/azure_instance_types.go is outdated compared to https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/azure_instance_types.go.
cluster-autoscaler panics when such instance type that is not present in `azure_instance_types.g

[2020-08-29 16:51] prashanth26 commented on #53
/priority blocker

[2020-08-30 03:13] hardikdr commented on #53
/assign
We need to update the supported machine types.

[2020-09-02 08:02] prashanth26 commented on #24
/assign @hardikdr

[2020-09-02 08:04] #53 closed, assigned to hardikdr

[2020-09-03 13:26] hardikdr opened #55 "Do not scale-down the machines which are already being deleted."
**What happened**: We observed on Azure, the machine deletion took much longer than expected. During this time the node-object was registered, and autoscaler decided to scale-down this machine. As part of the scale-down, Autoscaler reduced the `replica` of the MachineDeployment by 1, which can lead to the removal of the healthy machine. Removing this machine could be unintended.

Ideally, Autoscal

[2020-09-07 13:07] hardikdr commented on #55
/priority critical

[2020-09-14 08:44] amshuman-kr commented on #47
/assign @kallurbsk

[2020-09-21 10:37] amshuman-kr commented on #47
Somehow "/assign" didn't work and I do not have rights to assign directly either. @prashanth26 @hardikdr @AxiomSamarth could you please help?

[2020-09-21 11:18] amshuman-kr commented on #47
Adding a brief description of goals here because I don't have the rights to edit the issue description.

### Goals
- Pluggable in place of [VPA recommender](https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler/pkg/recommender).
- React better to CPU and memory usage spikes (especially, avoid recommending lower than resource usage)
- React better to crashloops and possibly a

[2020-09-21 11:26] hardikdr commented on #47
@kallurbsk needs to be added in the gardener org first, before assigning the issues to him.

[2020-09-22 11:15] hardikdr commented on #55
/assign

[2020-09-28 07:34] hardikdr opened #57 "Adapt scale-from-zero feature with extensibility of MCM"
**What would you like to be added**: Currently the scale from zero feature relies on the provider-specific MachineClasses. MCM is introducing out of tree providers with extensibility, and also a generic single MachineClass CRD. We need to adapt the scale-from-zero feature with the same.

cc @prashanth26 @rewiko

[2020-09-28 09:35] hardikdr commented on #24
Here's the new branch - https://github.com/gardener/autoscaler/tree/machine-controller-manager-provider
- for a cleaner history.
- Easier rebase in the future.
This is also now a default branch for the fork.

[2020-09-28 09:35] hardikdr commented on #24
cc @rewiko

[2020-10-02 14:06] jsravn commented on #35
I opened a PR so the autoscaler will make progress even if instances fail to start (e.g. due to InsufficientInstanceCapacity). It's not perfect however - as it relies on the autoscaler to timeout the node pool (15m by default, this can be reduced though - 5m seemed to work well for me in testing). Ideally we could mark node pools as unhealthy immediately which I believe will require MCM changes.

[2020-10-05 03:35] hardikdr commented on #57
This needs to be adapted before the out of tree provider of AWS and Azure is released.
/assign @prashanth26 @AxiomSamarth @hardikdr

[2020-10-05 11:36] timebertt commented on #47
Will this be contributed upstream in VPA or will we maintain another fork / gardener specific implementation?

In a discussion w/ @rfranzke @vpnachev and some others, we were wondering if it would already help to make [`OOMBumpUpRatio` and `OOMMinBumpUp`](https://github.com/kubernetes/autoscaler/blob/5a7e7cf5cc77c7e7ce5abe3d653a87f295d20248/vertical-pod-autoscaler/pkg/recommender/model/container.g

[2020-10-05 12:19] amshuman-kr commented on #47
I am leaning towards our own implementation.
- Considering that https://github.com/kubernetes/autoscaler/pull/2905 (needed to improve costs in out seeds) is yet to be released since May 2020, I think we have no option but to go for a fork at least.
- But in fact, I have a much simpler from-scratch implementation in mind (instead of a a fork) with a bias towards the present than the history and usi

[2020-10-06 08:58] amshuman-kr commented on #47
/assign @kallurbsk

[2020-10-07 02:50] hardikdr commented on #35
/assign
/in-progress
/area autoscaling

[2020-10-14 06:12] #55 closed, assigned to hardikdr

[2020-10-14 06:51] hardikdr commented on #35
/close in favor of https://github.com/gardener/autoscaler/pull/58 .
For now, we live with 15m delay before picking up the alternate worker-pool, not impacting MCM to also be adapted.
Let's re-open if we see a need in future.

[2020-10-14 06:51] #35 closed

[2020-10-14 09:25] hardikdr opened #60 "Safeguard functions of Autoscaler while MCM is offline"
**What would you like to be added**:
We should investigate and identify the gaps in the behavior of autoscaler when MCM is offline. The following is a known impact that we know:
- Autoscaler may decide to scale-down the nodes, while MCM never acts on it as it's offline. Later restart of MCM can cause disruptions, and inconsistency.

**Why is this needed**: For better robustness of both components

[2020-10-14 16:59] vlerenc commented on #60
I am not really sure, what can be done here @hardikdr, if we want to keep both components separate. Do you have a proposal? It is clear, that we need to ensure that the control plane is always up - including MCM. Now, if MCM is down, you write, there are follow-up issues even if MCM gets back from the dead. Which complications, disruptions, and inconsistencies are these?

[2020-10-19 05:09] amshuman-kr commented on #60
@hardikdr Thanks for filing the issue. As @vlerenc mentioned above, could you please elaborate what issues do you see if MCM is down but CA is up and then later MCM comes back up?

In principle, ideally CA should be able to tolerate MCM downtime gracefully because I would expect that to CA it would look no different from an unhealthy nodepool. There might be edge cases, of course. It would be good

[2020-10-19 06:45] hardikdr commented on #60
Basically, the scale-down evaluation of autoscaler keeps watching the node-objects irrespective of MCM/autoscaling-group is active or not. Only by looking at the node-object, Autoscaler may decide to delete certain nodes(say 2), it would take the following steps scale-down:
1. Taint the 2 candidate node-objects with ~`DeletionCandidate`. [Though on the failure of removal, autoscaler removes these

[2020-10-21 13:37] hardikdr commented on #24
/close with the new branch https://github.com/gardener/autoscaler/tree/machine-controller-manager-provider

[2020-10-21 13:37] #24 closed

[2020-10-21 13:41] hardikdr commented on #20
We already have support for AWS and Azure, the generic support is yet to be worked upon.
/close in favor of https://github.com/gardener/autoscaler/issues/27

[2020-10-21 13:41] #20 closed

[2020-10-21 18:40] amshuman-kr commented on #60
Thanks for the explanation!

I think the problem more general than can be addressed by this proposed solution. There might other reasons (e.g. issues in the infrastructure) that prevent a scale down from happening. I would guess the issues you mentioned could manifest in those cases as well.

How about enhancing CA to increment the `spec.replicas` whenever it removes the `DeletionCandidate` taint

[2020-10-21 20:26] dguendisch opened #61 "Unexpected replica count increase when deleting one machine"
**What happened**:
I had a worker pool (or better `MachineDeployment`) with 3 replicas currently running.
I decided to delete one machine `shoot--garden--ccee-m3-cpu-worker-z1-84c85994f4-hpck8` as it was probably misbehaving.
MCM however in a timeframe of a few secs immediately scaled that machdeploy to 4.

**What you expected to happen**:
MCM to replace the machine I deleted and thus keep the mac

[2020-10-22 04:14] hardikdr commented on #61
This seems more of an autoscaler issue than MCM as MCM never modifies the `Spec.Replicas`of machine-deployment.
I can see the following, but needs to be confirmed:
- A machine is deleted manually from the machine-deployment, pods in it are drained and in a `Pending` state.
- Before MCM really replaced it with a new machine, autoscaler sees these pods as Pending and triggers the scale-up.

The more

[2020-10-22 06:32] dguendisch commented on #61
What you say makes total sense, thanks for the explanation! I'll close the ticket for now and will reopen only if it occurs again with CA v0.12.0

[2020-10-22 06:32] #61 closed, assigned to nobody

[2020-11-06 11:38] hardikdr commented on #51
This should be fixed with the recent autoscaler rebase.
/close

[2020-11-06 11:38] #51 closed

[2020-12-02 15:15] hardikdr opened #64 "Allow deletion of the machines with already lowered priority."
**What would you like to be added**: There can be a case where a machine's priority is lowered but the actual machine was not terminated, probably due to the non-atomicity of the selective scale-down.
- This can happen if the autoscaler succeeds in annotating the machine object with low priority but it somehow failed to decrease the size of the machine-deployment.

**Why is this needed**: To unblo

[2020-12-07 12:24] #57 closed, assigned to hardikdr, AxiomSamarth, prashanth26

[2020-12-08 10:54] prashanth26 commented on #27
We already have support for AWS and Azure, the generic support that works for all providers is to be worked upon.

[2020-12-10 14:33] jguipi opened #67 "Successive node autoscale - pod didn't trigger scale-up (it wouldn't fit if a new node is added)"
**How to categorize this issue?**

/area scalability|usability
/kind bug|discussion|question
/priority normal
/area auto-scaling

**What happened**:
A customer tried to create a new node with the autoscaler.
Starting with 1 node, he triggered a scale operation to have 2 nodes, and he got a successfull event from the pod that scaled on that new node.
Right after that successful trigger he tried to

[2020-12-23 07:02] shahar-h commented on #67
Any update?

[2020-12-25 15:20] prashanth26 commented on #67
Hi @AxiomSamarth ,

Can you see if you can reproduce this issue on a Gardener shoot cluster (with above-mentioned steps & config). And if yes, you can look into the MCM & CA logs and see what's going wrong here.

cc: @amshuman-kr

/assign @AxiomSamarth

[2021-01-15 04:21] hardikdr commented on #52
This is good to have, but not a complete solution. For providers not supporting scale-from-zero, Gardener will still create worker-pools with min=0 in multiple zones, and they cant be scaled up at all. This is good to have, because, this will at least not block the overall scale-up from the autoscaler for those providers.

[2021-01-21 14:37] i053322 commented on #67
Any update?

[2021-01-21 17:19] prashanth26 commented on #67
@AxiomSamarth - Did you take a look into this issue?

I didn't quite follow how to reproduce this issue. Can you please elaborate on how to reproduce this issue? @i053322

[2021-01-21 17:27] i053322 commented on #67
You can create your cluster with node 1 and maxpod = 1 then when you create several pods the autoscaler should create new node
then I got the error

it could occur also if you create many pods and they are wait to be scheduled

[2021-01-21 18:07] hardikdr commented on #64
I think we should identify a sophisticated way to counter the non-atomicity of the selective-scaledown. Essentially there are 2 calls while scale-down:
1. Lower the annotation of the machine object.
2. Scale-down the machine-deployment by one.

If autoscaler restarts after call-1 or call-2 fail for whatever reason(even after retries), the priorities of the machines could be inconsistent. eg. one m

[2021-01-21 18:19] hardikdr commented on #64
cc @prashanth26 @AxiomSamarth

[2021-01-22 04:43] prashanth26 commented on #64
Hi @hardikdr ,

Thanks for these inputs.

By this you mean to remove [this part](https://github.com/gardener/autoscaler/pull/59/files#diff-fc87dde41e1a7abff0b0bc24dbabc258ac3d594a346b8f01e020b9e7f9775440R543-R546) of the code right? And this should fix the issue we see currently right?

[2021-01-22 10:08] hardikdr commented on #64
Yes, it should at least unblock the deletion of the machines with lowered priority.

We added that check, being more defensive on not allowing autoscaler to act when priorities are in an inconsistent state, but seems we are hitting it a bit more often. In general, if that check is not there, it should be self-healed, but the yet another corner case:
- If autoscaler comes up fresh, and picks up ano

[2021-01-22 16:30] prashanth26 opened #68 "Support new zones label"
**What would you like to be added**:
Support for new `topology.kubernetes.io/zone` label.

**Why is this needed**:
The `failure-domain.beta.kubernetes.io/zone` labels are [deprecated now in k8s](https://v1-18.docs.kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/#failure-domainbetakubernetesioregion). The k8s now supports `topology.kubernetes.io/zone` labels. We need to suppor

[2021-01-27 11:01] vlerenc commented on #47
I think, it's not yet shared, the link to the document (WiP at the time of this writing): https://github.com/kallurbsk/autoscaler/blob/master/vertical-pod-autoscaler/docs/proposals/crash_loop_handling/README.md

[2021-01-28 04:06] vlerenc commented on #47
@kallurbsk @amshuman-kr Some thoughts after reading the proposal:
- If we double, won't we start seeing possibly a flapping behaviour?
- It would be good to run a test/simulation of how the new recommender logic would fare in comparison to the current one on some real recorded issue(s) (is it giving more resources/the necessary resources when needed?; is it using more or potentially even less reso

[2021-01-28 05:09] kallurbsk commented on #47
Hi Vedran,

Thanks for sharing your comments and taking the pain to read through “not so clean” commit.
To quickly address the 2nd point, I will be submitting a simulation that we are doing manually of how the new recommender would be able to handle a CrashLoopBackOff caused due to resource contention peaking. I will also address other comments once I upload the last version from myside within a d

[2021-01-28 05:44] kallurbsk commented on #47
Thanks for sharing @vlerenc your comments and taking the pain to read through “not so clean” commit.
To quickly address the 2nd point, I will be submitting a simulation that we are doing manually of how the new recommender would be able to handle a CrashLoopBackOff caused due to resource contention peaking. I will also address other comments once I upload the last version from myside within a day.

[2021-01-28 08:12] amshuman-kr commented on #47
It is really a trade-off between cost saving (by recommendation trying to closely hug the usage curve) vs reducing scaling based disturbance. If we keep the scale down window short (less than 1 or 2 hours) we save cost but risk multiple scalings during the day if there are multiple load spikes during the day. If we keep it longer we reduce disturbance but over-provision.

I think 1 or 2 hours is a

[2021-01-28 08:20] amshuman-kr commented on #47
In general, I think there are two parts to the over all auto-scaling problem.
1. How good is the recommendation in terms of tracking usage and auto-healing.
1. How to avoid disturbance due to too frequent scaling for workloads that are sensitive to restarts.

I think 1 is better addressed in this proposal and 2 is better addressed in HVPA (in fact, already done so in v2). Mixing these two in one s

[2021-01-28 08:52] kallurbsk commented on #47
Also adding to the 1st point that Amshu mentioned, while scale up is primarily based on current usage in the newer approach, scale down still has a parameter for time window called `scale_down_monitor_time_window `. This can be defaulted to 1 hour indicating the scale down kicks in only based on local maxima in the previous one hour. Also this is a configurable parameter which makes it set differe

[2021-01-28 15:41] vlerenc commented on #47
Thanks @kallurbsk and @amshuman-kr . Yes it's a trade-off and I forgot about the recommender in read-only mode. When we pull out the data, we might have some inclination if the recommendations would have helped. Since they were not applied though, it will be difficult to assess whether they would have helped in the hours after, also (and what else would have happened, had we applied them...). Stil

[2021-01-29 13:11] amshuman-kr commented on #47
Yes. It may not be perfect data but I think we can still learn many things. For example,

1. If the new recommendations would have helped auto-heal from a crashloop.
1. If the new recommendations lead to more or less frequent scaling.
1. If the new recommendations track the usage curve more or less closely.

[2021-02-03 07:52] prashanth26 commented on #67
Hi @i053322 ,

I tried reproducing this. However, I am unable to. One small hint i might have missed is `1 not ready for scale-up`. This could be an indication that maybe the cloud provider wasn't responding causing the delay. Not sure, just an aassumption.

If you have concrete steps with examples that can consistently reproduce this issue or a cluster in this state, it would be great. Else I don

[2021-02-12 05:25] #68 closed, assigned to nobody

[2021-02-17 06:58] kallurbsk commented on #47
Tasks split for new VPA Recommender

- [x] Define proposal document for new VPA recommender - [Proposal](https://github.com/kallurbsk/autoscaler/tree/vpa-recommender/vertical-pod-autoscaler/docs/proposals/crash_loop_handling)
- [x] First level code skeleton to design new VPA recommender - [Code](https://github.com/kallurbsk/vpa-recommender/tree/vpa_v1)
- [x] v0 version complete of the new VPA reco

[2021-03-19 10:49] kallurbsk opened #71 "Metrics and details collection for VPA recommender"
The task refers to collection of details of applications and metrics details of those applications using VPA recommender. We can approach this by automating it as a shell script with following steps:
1. List all the components and mark them if they are using VPA or not. (Can get it by checking VPA name for each component using kubectl command)
2. Get the metrics usage details from metrics server (

[2021-03-19 11:03] #71 closed, assigned to nobody

[2021-04-06 11:06] jsravn opened #72 "main loop is very slow due to NodeGroupForNode performing a full machine list"
**What happened**:
I've been investigating why cluster-autoscaler is very slow in our cluster, with hundreds of managed nodes taking 5m+ to perform a single reconcile loop.

After digging for a while with `-v8`, it seems that we're getting throttled due to the large number of requests for `machines` against the apiserver. It looks like the main culprit here is the `NodeGroupForNode`/`ReferenceFrom

[2021-04-06 15:48] prashanth26 commented on #72
Hi @jsravn ,

Thanks for this investigation and for opening up this issue. We were aware of this enhancement/optimization however had been postponing it in the interest of time/bandwidth. However, we weren't aware that this issue affects workloads this way.

[2021-04-06 17:49] prashanth26 commented on #72
I just quickly looked through the code and couldn't stop thinking about the issue you had raised. And it looks like there were minor changes to incorporate cached clients but were never really used properly. Not sure why the case was. Anyways definitely looks like it needs fixing.

I have created a quick PR to fix the same, refer - https://github.com/gardener/autoscaler/pull/73. I haven't tested i

[2021-04-07 08:48] prashanth26 commented on #72
/assign

[2021-04-11 14:48] prashanth26 commented on #72
Hi James Ravn,
I am nearly done with this PR - https://github.com/gardener/autoscaler/pull/73. PTAL if you have some time.

[2021-04-15 04:08] prashanth26 opened #74 "Expose CA metrics on Gardener dashboards"
**What would you like to be added**:
Expose CA metrics on Gardener Grafana dashboard.

**Why is this needed**:
The CA metrics aren't being exposed correctly on the dashboard, probably an configuration issue. We would like to fix this so that customers and operators can review these metrics to improve/act on their workloads.

[2021-04-16 10:02] #72 closed, assigned to prashanth26

[2021-04-20 05:56] prashanth26 commented on #72
@jsravn - This issue has been fixed with - https://github.com/gardener/autoscaler/releases/tag/v0.15.0.

[2021-05-04 05:53] #64 closed, assigned to nobody

[2021-05-04 06:13] prashanth26 commented on #19
Close in favour of https://github.com/gardener/autoscaler/pull/73

[2021-05-04 06:13] #19 closed

[2021-05-04 08:19] prashanth26 commented on #64
To resolve the problem for clusters using an older autoscaler version manually, the following would be the fix.

- Target the cluster
- `kubectl edit nodes`
- Search for taint with key as ToBeDeletedByClusterAutoscaler
- Delete such taints on the node objects.

[2021-05-11 08:24] ialidzhikov opened #76 "panic: runtime error: invalid memory address or nil pointer dereference"
**What happened**:

[code]

[code]

**What you expected to happen**:

No panic

**How to reproduce it (as minimally and precisely as possible)**:

Not clear for now.

**Anything else we need to know**:

**Environment**:
Image: `eu.gcr.io/gardener-project/gardener/autoscaler/cluster-autoscaler:v0.16.0`

[2021-05-11 08:27] prashanth26 commented on #76
/platform azure
/status in-progress

[2021-05-21 08:34] jia-jerry opened #80 "Autoscale issue in Multi zones in AliCloud"
**What would you like to be added**:

Currently, autoscaler doens't work as expected in AliCloud. If we have shoot with MZ and multiple groups, and there is a group and zone that has no node, then cluster auto scaling will fail. We expect autoscaler still work in this case.

e.g.

[code]

**Why is this needed**:

[2021-05-21 08:50] prashanth26 commented on #80
Hi @jia-jerry ,

Yes, currently scale to/from zero is only supported for `AWS` and `Azure`. We need to enable [something like this](https://github.com/gardener/autoscaler/pull/65/files) for `Alicloud` to support this.

However the idea is to eventuall support a generic way to acheive this as [described here](https://github.com/gardener/autoscaler/issues/27#issue-552160544)

[2021-05-23 21:13] ialidzhikov commented on #76
/reopen

[2021-05-23 21:15] ialidzhikov commented on #76
This issue is still applicable for v0.10.1. Currently Gardener is using `autoscaler@v0.10.1` for K8s < 1.16.
So this issue strikes again.

The `Shoot clusterautoscaler testing  [It] [DEFAULT] [SERIAL] [SHOOT] should autoscale a single worker group to/from zero` integration test is failing always for K8s < 1.16 clusters.

<img width="798" alt="Screenshot 2021-05-23 at 23 02 25" src="https://user-im

[2021-06-07 05:41] prashanth26 opened #83 "Scale from zero fails to work on k8s >= 1.18 AWS"
**What happened**:

moving a pod from one worker group node type to another via node label selector resulted in the following autoscaler error when the destination worker group is at a minimum size 0. This was noticed after we upgraded from k8s 1.17 -> 1.18 on `AWS`
[code]
- specifically, note the volume node affinity conflict

**What you expected to happen**:

the new node should be scaled up and

[2021-06-10 16:27] antcs opened #84 "AWS u-6tb1.112xlarge machine isn't scaled up"
**What happened**:
Tried to provision a HANA instance onto a u-6tb1.112xlarge machine.

The autoscaler log is showing following behavious:

[code]

In addition the type is not in the list of known instances:
https://github.com/gardener/autoscaler/blob/machine-controller-manager-provider/cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go#L2239-L2250

**What you expected to happen**:
That th

[2021-06-11 08:23] #84 closed, assigned to nobody

[2021-06-11 09:00] prashanth26 commented on #84
Changes required are merged. However, it is yet to propagated to the landscape.

[2021-06-14 06:24] prashanth26 commented on #80
/close in favour of https://github.com/gardener/autoscaler/issues/27

[2021-06-14 06:24] #80 closed, assigned to nobody

[2021-06-14 06:51] prashanth26 opened #87 "Cluster autoscaler scale replicas to below the Min. value"
**What happened**:
The machineDeployment `shoot--project--shoot--deployment` desired replicas, for one of the replicas whose desired value should have been `1` as the Min was set to `1`. However, for some reason, the desired replicas were changed to `0` by cluster autoscaler (I think).

I see the following on cluster-autoscaler.

[code]

I suspect that the cluster autoscaler is getting a stale val

[2021-06-14 06:59] prashanth26 opened #88 "Build machine type details dynamically"
**What would you like to be added**:
Currently, the cluster autoscaler has hard-coded values in the code while trying to fetch machine details for supporting scale from zero for providers like AWS and Azure. However, this is inflexible as new machine types are added to the provider often. We can enhance this by fetching these values from the cloud provider itself, or at least from a configMap to a

[2021-06-15 08:39] himanshu-kun commented on #83
I have tried to reproduce the issue and yes the experimentation is giving results as described in the issue. The problem is due to missing of this label `topology.ebs.csi.aws.com/zone` on the destination node . This label is used by PV created by AWS CSI driver to get attached to the node. The well known zone label `topology.kubernetes.io/zone` is not used because it was not well known at the time

[2021-06-15 08:55] himanshu-kun commented on #83
I have digged into the 3rd solution talked in last comment and referred (https://github.com/kubernetes/autoscaler/issues/3230#issuecomment-809287604). I used v0.10.x for the CSI driver along with and without the flag `--balancing-ignore-label=topology.ebs.csi.aws.com/zone` , but it didn't solve the problem.

After using v0.10.x and v1.0.0( not v1.1.0 though) for CSI driver ,the well known topology

[2021-06-15 09:04] prashanth26 commented on #83
@amshuman-kr - What do you think would be the good approach between (1) and (2) above then?

[2021-06-21 15:16] jsravn opened #89 "Plans to upstream mcm provider or sync w/ upstream release cycle?"
**What would you like to be added**:

Upstream CA only promises compatibility with the matching kubernetes version. E.g. cluster-autoscaler 1.20 is expected to be run with Kubernetes 1.20. This is mostly so the scheduling decisions match between the k8s scheduler and CA.

This fork doesn't make the distinction, so it's not clear what version of k8s it is compatible with.

I wonder if there are any

[2021-07-15 07:29] ialidzhikov commented on #76
Closing this one as https://github.com/gardener/autoscaler/pull/81 was also merged.

/close

[2021-07-15 07:29] #76 closed, assigned to prashanth26

[2021-07-21 05:45] prashanth26 commented on #83
Fixed with https://github.com/gardener/gardener-extension-provider-aws/pull/365.
/close

[2021-07-21 05:45] #83 closed, assigned to nobody

[2021-07-21 05:48] prashanth26 commented on #89
Hi @jsravn .

I think you have a fair point. We will try to tabulate the compatibility support as in the upstream CA releases. We plan to update the CA very soon and once we do this we will try to tabulate these supports.

We have discused this internally in the past, however haven't got to it due to some feature compatibility issues like scale to/from zero suppport etc. But yes, ideally we would

[2021-07-21 05:52] prashanth26 opened #91 "Revendor k8s/autoscaler changes on gardener/autoscaler"
**What would you like to be added**:
Revendor upstream changes on CA to bring in the latest fixes and changes.

**Why is this needed**:
To keep our fork up to date with upstream releases.

[2021-07-21 05:55] prashanth26 commented on #88
Related to https://github.com/gardener/autoscaler/issues/27.

[2021-08-03 11:02] anbrsap opened #92 "Mitigate unavailability of instance type in AZ"
**What would you like to be added**:

The cluster autoscaler should mitigate the unavailability of instances of certain types in an availability zone (AZ).

Currently Gardener just reports an error in such case and retries:

I propose to add the following two fallback mechanisms applied in the given order:

- Try to create a new instance in another AZ if the respective worker group has been config

[2021-08-04 08:44] kallurbsk opened #93 "Addressing drawbacks of existing VPA recommender"
**How to categorize this issue?**
/kind epic
/priority 2

**What would you like to be added**:
* Address CPU samples only count logic in the existing VPA recommender to count both CPU and memory samples.
* Fix/Address the behaviour of using a hardcoded value of `OOMBumpUpRatio` and `OOMMinBumpUp`.
* Incorporate CPU throttling information to the VPA recommender
* Incorporate variables to handle con

[2021-08-04 08:57] ashwani2k commented on #93
credits to @voelzmo  for your Epic https://github.com/gardener/gardener/issues/4110 which gave a good insight on how to structure this.

[2021-08-04 08:58] kallurbsk commented on #93
@voelzmo : Thanks for having this format. Could we please make this like a standard format for all set of epics and tasks if not already followed?

[2021-08-09 21:47] talnevo opened #95 "pod didn't trigger scale-up when node is vSMP MemoryOne based and cluster was started with zero nodes in the group"
**vSMP MemoryOne** provides the ability to have a node with more memory than the AWS instance it uses provides.
This is done by using virtualization to make fast NVMe drives appear as part of RAM.

**EXAMPLE**: an m5d.2xlarge instance that has 32GB of RAM can boot with **vSMP MemoryOne** as a 128GB node.

In such a case, provisioning a pod that require 90GB should trigger a scale-up for such a nod

[2021-08-11 14:50] hardikdr commented on #95
Had a brief chat with @talnevo and Nir.

Reg 1, 2)
The issue is related to the behavior where the memory-capacity of the machine is modified at the runtime, which confuses the scale from the zero feature. Possible solution could be to have a dedicated vSMP related machine types here - https://github.com/gardener/autoscaler/blob/machine-controller-manager-provider/cluster-autoscaler/cloudprovider/a

[2021-08-12 03:02] prashanth26 commented on #95
Thanks, @hardikdr for discussing the issue. However, I doubt updating these instance resources directly would help. As other stakeholders could run into issues trying to provision a normal machine of this kind. Will need some time to discuss with the team how this could be solved better.

[2021-08-17 05:11] prashanth26 commented on #27
The following is the rough design to implement this feature.

From MCM/Autoscaler integration.
- The details required to fill in the resources per node will be filled up at the [machineClass level](https://github.com/gardener/machine-controller-manager/blob/master/pkg/apis/machine/types.go#L1203-L1217) with either spec fields or annotation.
- The spec/annotations will consist of the following fiel

[2021-08-17 12:39] amshuman-kr commented on #27
Thanks for the rough design @prashanth26! Looks good. A small suggestion, let's have the word `expectedNodeDetails` (or something more readable 😅) in the  the additional field names (either as additional nesting level or part of the name) or annotation keys.

[2021-08-18 03:09] prashanth26 commented on #27
Sure @amshuman-kr. Let's keep it that way.

[2021-08-24 17:11] prashanth26 commented on #27
## What would you like to be added

1. Allow scale from zero across all providers support by [MCM](https://github.com/gardener/machine-controller-manager).
2. Configure the upcoming resources (CPU/Memory) while scaling from zero for a worker pool in a dynamic manner.
3. Allow customers to configure specific instance type resource overrides - In case any form of virtualization/emulation to enhances

[2021-09-01 10:56] rfranzke commented on #27
Why is this needed? With Gardener, only machine types specified in the `CloudProfile` can be used. Why would we allow overriding these machine type specifics? Why can't we just use the information from the `CloudProfile`s?

[2021-09-01 10:58] rfranzke commented on #27
Alternatively, the `Worker` extension could again just read the information from the `CloudProfile`. OTOH, Gardener could just populate the information in the `Worker` object (I would not call the field `expectedNodeDetails` but maybe `machineTypeDetails` or `machineTypeInformation` or similar). Then the `Worker` extension does not need to find the information itself (especially as this would be n

[2021-09-01 11:39] AxiomSamarth commented on #27
@rfranzke Here is one rationale behind the proposal.

With OS's like ScaleMP where the machine resources of exisiting machine types are scaled up during runtime, `CloudProfile` will not be able to capture those new specs. Which is why, CA may fail to scale the machines (from zero especially) as it will not be able to generate the required node template. If CA has to work seamlessly for such scenar

[2021-09-01 11:43] rfranzke commented on #27
OK, got it, thanks. My question would be: If I have a worker pool with ScaleMP and multiple machines, does this "where the machine resources of exisiting machine types are scaled up during runtime" behave equally for all such machines? Or is it individual per machine?

[2021-09-01 12:06] AxiomSamarth commented on #27
Yes, the behaviour would be same for all such machines of a (exemplar) ScaleMP worker pool (as I understand that all machines in a Gardener worker pool are of same type and here in this example, they would be the ones with MemoryOne CHost OS).

[2021-09-01 12:07] prashanth26 commented on #27
I think @AxiomSamarth pretty much answered this. However for more details please refer this issue - https://github.com/gardener/autoscaler/issues/95.

Great question :) I would expect ScaleMP to behave similarly in all such machines (at least belonging to a worker pool).  But however, you are right, I think ScaleMP can create the same machines with different effective resources sizes. Would probab

[2021-09-01 12:19] vlerenc commented on #27
We have the "funny" problem here, that the node capacity (as in K8s node resource) varies with the OS.

Therefore, I guess, I would go with `.spec.provider.workers[].machine.capacity.(cpu|gpu|memory)`. I am somewhat unsure whether there are also models that "expand/shrink" the number of CPUs? And, maybe we took already a wrong turn with GPUs, because e.g. on GCP they can be attached and aren't nec

[2021-09-01 12:57] rfranzke commented on #27
I'm wondering whether this is something that is OS-specific, i.e., whether it better fits into the provider configuration of the machine image instead of the core API. What are your thoughts?

Instead of `.spec.provider.workers[].machine.capacity`, it could look like this:

[code]

FYI: The `memoryone-chost.os.extensions.gardener.cloud/v1alpha1.OperatingSystemConfiguration` API and the `memoryTopo

[2021-09-02 06:59] himanshu-kun commented on #27
I agree with you @rfranzke , that we can add a field `capacity` in the `memoryone-chost.os.extensions.gardener.cloud/v1alpha1.OperatingSystemConfiguration` API and can solve the problem for scaleMP colleagues this way.
But this would still leave the generic scaleFromZero problem unsolved, which we have to come to solve one day. With [this](https://github.com/gardener/autoscaler/issues/27#issuecomm

[2021-09-02 07:12] rfranzke commented on #27
OK, understood. Then let's drop the proposal about enhancing the `memoryone-chost` API again and instead

- add a `capacity` field to the `core.gardener.cloud/v1beta1.Machine` structure as suggested above.
- add a `machineCapacity` field to the `extensions.gardener.cloud/v1alpha1.WorkerPool` structure that contains the fields needed for autoscaler (CPU, memory, whatever) - this can be set by garde

[2021-09-02 07:19] AxiomSamarth commented on #27
I like this one.

[2021-09-02 08:03] himanshu-kun commented on #27
Yes this looks good, but doesn't it just carries down the CPU, memory info till the worker resource level onlyi.e. till the gardener level only. Because afterall we want these info to reach the machineClass and since we are introducing a new field in `extensions.gardener.cloud/v1alpha1.WorkerPool` , we'll have to add changes in extension provider code to pick values from this field and add them to

[2021-09-02 10:44] rfranzke commented on #27
Sure, makes sense, thanks @himanshu-kun.

Using the `providerSpec` doesn't seem reasonable since this information is in no way provider-specific. Labels could be used, but what speaks against a regular field in the `MachineClass` resource?

[2021-09-02 15:26] sunir1 commented on #27
Indeed with vSMP MemoryONE (This is the correct product name, not 'ScaleMP'), we are able to define different WorkerGroups, each with different DRAM to overall system memory ratio (even if they are using the same raw hyper-scaler instance type).

For example:
Taking m5d.16xlarge with 256GB of DRAM, and creating a VM with 1TB
Or taking m5d.15xlage, with 2TB of system memory.

However, each of them

[2021-09-03 10:23] himanshu-kun commented on #27
Yes @rfranzke I think a MachineClass regular field is a good idea as well. Thanks, I had missed that.

[2021-09-08 08:31] prashanth26 commented on #27
Apologies for the delayed response.

I agree with adding this as an API field at the levels mentioned. However, W.R.T to which fields are to be kept at the machineClass level, we would at least need the following fields (which can be generated from the cloud profile) as these are fields expected at the cluster autoscaler. Refer
1. https://github.com/gardener/autoscaler/blob/machine-controller-mana

[2021-09-13 10:29] AxiomSamarth opened #98 "Add new optional (pointer) API field `*nodeTemplate` with subfields the track all scale from zero resources - `CPU`, `Memory`, `GPU`, `Zone`, `MachineType`."
This issue is to track the individual step in the bigger story of Generic Scale to Zero support #27

Add new optional (pointer) API field `*expectedNodeDetails` with subfields the track all scale from zero resources - `CPU`, `Memory`, `GPU`, `Zone`, `InstanceType`, `Region`.

[2021-09-15 08:36] prashanth26 opened #99 "Keep drain logic optional"
**What would you like to be added**:
Keeping the CA drain logic optional

**Why is this needed**:
The MCM controller already has a drain logic. So the idea would be to explore the possibility of keeping CA drain logic optional and disable it in the gardener's use case.

[2021-09-16 13:13] #98 closed, assigned to AxiomSamarth

[2021-10-04 14:57] shreyas-s-rao commented on #93
Closing this issue in favour of https://github.com/gardener/autoscaler/issues/47 which will now act as the epic for all VPA-related improvements/fixes going forward. Thanks @kallurbsk for penning down the list of tasks and adding unit tests as well.

[2021-10-04 14:57] #93 closed, assigned to nobody

[2021-10-06 12:04] shreyas-s-rao opened #101 "Include memory samples in TotalSamplesCount to react better to OOMKills"
---
name: Bug Report
about: Report a bug
labels: kind/bug, area/auto-scaling

---

**What happened**:
VPA Recommender did not recommend proper memory targets after the pod was OOMKilled.

**What you expected to happen**:
VPA Recommender should have considered the memory usage during (or just before) the OOMKill and recommended a larger memory target so that the number of restarts during pod recove

[2021-10-06 19:10] AxiomSamarth commented on #27
We may also have to consider a scenario where the CA is expected to scale up from zero based on some extended resource limits & requests apart from CPU, Memory, GPU, Zone.

[2021-12-02 05:43] himanshu-kun opened #103 "Enable CA to be aware of Runtime resources during scale-from-zero"
**What would you like to be added**:
Enable CA to be aware specific instance type resource overrides - In case any form of virtualization/emulation to enhances default resource values.

**Why is this needed**:
CA currently cannot get to know the resources of a machine during runtime, so in cases of scale-from-zero it assumes that the runtime resources are same as the resources specified by the clo

[2021-12-13 09:37] shaoyongfeng opened #104 "autoscaler is not triggered"
**What happened**:
Node is not scaled up automatically
**What you expected to happen**:
Node in my cluster should be scaled up automatically  if pod can't be scheduled due to resource limitation.
**How to reproduce it (as minimally and precisely as possible)**:
1. create a shoot in dashboard
2. set autoscaler min as 1 in worker group
3. choose 2 zones in worker group
4. once shoot is ready, try to

[2021-12-13 09:49] vlerenc commented on #104
/duplicate https://github.com/gardener/machine-controller-manager/issues/798 is the actual root of the problem. The auto-scaler does it's job, but how it's set up is the culprit, I think.
/close

[2021-12-13 09:49] #104 closed, assigned to nobody

[2021-12-13 09:59] shaoyongfeng commented on #104
HI @vlerenc ,
But for my case, I think auto scaler should handle it correctly even if user config worker pool as I described

[2021-12-13 10:05] vlerenc commented on #104
@shaoyongfeng Well, it starts with Gardener because it should make this more intuitive. What happens after what you did is a pool with no machine/node, so CA complains as the way how CA is implemented by the community is to not have but extract the properties from node resources, but since you have none as the worker pool has 0 nodes, it cannot do that.

That is what we call scale-to/from-zero. Th

[2021-12-13 10:45] AxiomSamarth opened #105 "AWS"

[2021-12-13 10:45] AxiomSamarth commented on #105
Wrongly created!

[2021-12-13 10:45] #105 closed, assigned to nobody

[2021-12-14 09:40] AxiomSamarth opened #106 "Expose `--ignore-taints` flag of CA on Gardener Shoot"
**What would you like to be added**:
An `--ingore-taints` flag has to be exposed on Gardener Shoot.

**Why is this needed**:
NVIDIA GPU drivers are installed before GPU-using pods get scheduled to a node. We would like to use the [same approach as OpenAI](https://openai.com/blog/scaling-kubernetes-to-7500-nodes/#activegputests), which is to have a taint on the node & this taint is removed once the

[2021-12-17 09:12] #27 closed

[2021-12-19 14:31] ialidzhikov opened #107 "Maintain a release for each upstream cluster-autoscaler release"
# Stories
- As user I want the cluster-autoscaler to act properly, matching my Kubernetes version.
- As operator I want the same in order to deal with less end user questions/complaints.
- As provider I want the same in order to implement bin-packing that will be even more susceptible to such problems.

# Motivation
- With https://github.com/gardener/gardener/issues/5064, we see that the CA behavi

[2021-12-21 07:59] AxiomSamarth commented on #106
Linked issue on gardener/gardener is [here](https://github.com/gardener/gardener/issues/5166)

[2021-12-21 09:37] ialidzhikov opened #108 "[rel-0.10] `go test` flags are added to the cluster-autoscaler binary"
**What happened**:
[code]
**What you expected to happen**:
No `go test` flags to be present in the `--help` of the cluster-autoscaler.

**How to reproduce it (as minimally and precisely as possible)**:
See above.

**Environment**:
Version: `v0.10.2`

[2022-01-10 05:33] himanshu-kun commented on #107
@ialidzhikov We are ready with autoscaler v1.20 sync.
But the versioning of g/autoscaler is `v0.` rather than `v1.`
I would like to hear your suggestion on how to go about with changing the versions so that we could release `v1.20.0` and not `v0.20.0`.
Would it be fine to just change the `VERSION` file to have `v1.20.0-dev` and let the gardener release process to take care of the release?

[2022-01-10 10:34] himanshu-kun commented on #106
shall we close this?

[2022-01-10 10:36] himanshu-kun commented on #103
/close
The approach has been changed. No changes are req. in os-extension. Refer to [this](https://github.com/gardener/gardener/issues/4948#issuecomment-997815132) comment for the reason and new approach.

[2022-01-10 10:36] #103 closed, assigned to nobody

[2022-01-10 11:00] AxiomSamarth commented on #106
Yes, closing this as the flag has now been exposed on the Shoot spec.

[2022-01-10 11:00] #106 closed, assigned to AxiomSamarth

[2022-01-11 07:17] ialidzhikov commented on #107
Yes.

[2022-01-17 07:31] AxiomSamarth opened #110 "Integration test for Gardener Autoscaler"
**What would you like to be added**:
An integration test suite for Gardener Cluster Autoscaler that could be run both locally as well in the build pipeline with ease.

**Why is this needed**:
This is need to test the CA behaviour against an actual Shoot and to report any anomalies as such. Also, such an integration test suite would help in validating any adoptions/upgrades from upstream CA.

[2022-01-17 07:33] AxiomSamarth commented on #110
Planned action items -

- [ ] Development of the integration test suite that runs locally.
- [ ] Documentation
- [ ] Adopting the same onto the build pipeline.

[2022-01-17 08:29] timebertt commented on #110
I think, you might be interested in envtest for this (in case you don't know it already), see https://book.kubebuilder.io/cronjob-tutorial/writing-tests.html and https://pkg.go.dev/sigs.k8s.io/controller-runtime@v0.11.0/pkg/envtest.

[2022-01-17 14:55] AxiomSamarth commented on #110
Thanks @timebertt I will explore this more.

[2022-01-21 12:27] himanshu-kun opened #113 "Scale from zero fails to work on k8s >= 1.21 Azure"
**What happened**:
Scale from zero fails for Azure clusters with CSI enabled.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
- Create worker group with 2 zones
- keep the minimum nodes for the worker group as 1
- create a PVC referring a storage class with `volumeBindingMode`= `Immediate` and assign affinity of PV to the zone with no node (basic

[2022-01-21 12:32] himanshu-kun commented on #113
I have verified that adding the label to the machineDeployment's `nodeTemplate` can solve the issue. So a change in the extension-azure would be helpful like done [here](https://github.com/gardener/gardener-extension-provider-aws/pull/365)
I would verify if csi drivers of other providers also use these kind of labels.

@ialidzhikov would like to listen to your thoughts as well

[2022-03-08 07:13] himanshu-kun commented on #113
/close
The issue has been solved with https://github.com/gardener/gardener-extension-provider-azure/pull/430

[2022-03-08 07:13] #113 closed, assigned to nobody

[2022-03-14 10:36] vlerenc commented on #47
/close as we have now another ticket (internally) that lists the issues in another format.
cc @voelzmo

[2022-03-14 10:36] #47 closed

[2022-03-21 13:01] #110 closed, assigned to AxiomSamarth

[2022-04-22 12:22] himanshu-kun opened #118 "Consider failed machine as terminating"
**What happened**:
A race condition could happen b/w MCM and CA in case of node not joining in 20 min (default creationTimeout and maxNodeProvisionTimeout)
This could lead to MCM deleting Failed machine and creating a new one, and then CA deleting the new one thinking it deleting the Failed machine.

**What you expected to happen**:
CA should not take action if the machine it wants to terminate is

[2022-05-10 13:12] alexkyurtev commented on #118
Hello , Can we have an update on the status ?

[2022-05-11 04:41] himanshu-kun commented on #118
This would be available from release 1.22 of CA

[2022-05-30 13:31] himanshu-kun opened #122 "Enhance node template to include `Architecture`"
**What would you like to be added**:
Node template currently contains info of
* cpu
* gpu
* memory
* region
* zone
* instanceType

Now with PR https://github.com/kubernetes/autoscaler/pull/3848 support for Architecture is also added. This needs to be incorporated in our nodeTemplate as well.

Scale-from-zero story -> https://github.com/gardener/autoscaler/issues/27
**Why is this needed**:
To be up

[2022-06-01 04:50] himanshu-kun opened #123 "Sync with upstream v1.22.0"
**What would you like to be added**:
Gardener autoscaler needs to get in sync with the changes in upstream autoscaler v1.22.0

**Why is this needed**:
To support any recent features added upstream

[2022-06-01 07:25] bbochev commented on #118
Hello @himanshu-kun, do you know when 1.22 will be rolled out?

[2022-06-01 08:43] #123 closed, assigned to himanshu-kun

[2022-06-01 09:38] himanshu-kun commented on #118
Hi @bbochev , I am planning to make release next week after fix for this issue. Then to reach Canary landscape it could take one more week.

[2022-06-14 07:11] bbochev commented on #118
Hello @himanshu-kun,
Could you please update us here - does the new release of CA was implemented successfully on canary?

[2022-06-14 07:52] himanshu-kun commented on #118
Hi @bbochev
Apologies, I was not able to work on it this week due to some other major fixes. I'll start working on it now. Then I'll make the release.

[2022-06-22 04:47] himanshu-kun commented on #118
After looking more into the issue, we realized that it needs a bigger change , where the state transition of machines and communication between both CA and MCM have to be redesigned.
I see that from the live ticket https://github.tools.sap/kubernetes-live/issues-live/issues/1607 the question was more on why two scale-up attempts happened. The system came back to normal state on its own within an h

[2022-06-23 09:03] himanshu-kun opened #128 "Multiple expander should be able to be specified from shoot Yaml for gardener Autoscaler"
**What would you like to be added**:
The following PR upstream https://github.com/kubernetes/autoscaler/pull/4233/commits/068af5bf7e2bafe558654f9ef5fa0468db077cb9 has added support for autoscaler to be supplied multiple expanders
However currently the user can only configure one expander from the shoot Yaml [here](https://github.com/gardener/gardener/blob/a4ce4caf5c9d0117b9ce98da780c8dfc44f54bbe/e

[2022-06-28 06:40] himanshu-kun commented on #128
the validation needs to be adapted , to allow many expanders
It'll still be passed as string
Also it should be allowed only for k8s version 1.22 and above, CA version need not be be taken into account as we have one to one mapping now.

[2022-06-28 12:35] himanshu-kun opened #132 "Allow a way to specify extended resources for scale-from-zero scenario"
**What would you like to be added**:
There should be a mechanism in our autoscaler so that the user could specify any extended resources his nodes have and the autoscaler becomes aware of it, so that during scaling out a node group from zero it could consider that.

**Why is this needed**:
It has been noticed that currently the autoscaler couldn't scale a node group from zero if the pod is request

[2022-06-28 13:00] himanshu-kun commented on #132
I have thought of some possible solution:
1) We could enhance the logic of using an existing node in the worker group introduced using [this PR](https://github.com/gardener/autoscaler/pull/114) to include extended resources also. But this will not solve the case when we don't have any node in any zone of the worker group.
2) We could enhance the nodeTemplate passing through shoot YAML feature (ena

[2022-06-28 13:02] himanshu-kun commented on #132
Upstream issue worth noticing https://github.com/kubernetes/autoscaler/issues/1869

[2022-07-11 07:36] himanshu-kun commented on #107
/close
As the autoscaler is synced till upstream 1.22
For later sync , I will create new issues per release.

[2022-07-11 07:39] himanshu-kun opened #135 "Sync with upstream v1.23"
**What would you like to be added**:
Gardener autoscaler should be synced with [kubernetes autoscaler 1.23](https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.23.0)
**Why is this needed**:
To keep our fork updated

[2022-07-11 07:47] ialidzhikov commented on #107
There are still no releases for 1.23 and 1.24. When to expect them?

[2022-07-11 07:49] himanshu-kun commented on #107
We plan to assign the sync of 1.23 to Rishabh , who'll be joining us from July 14th.
I have created issue to keep track for sync with 1.23 https://github.com/gardener/autoscaler/issues/135

[2022-07-13 10:17] vlerenc commented on #107
Then let's reopen this one again, please (as it's not yet done, right?).

[2022-07-27 19:51] terzian-g opened #145 "Issues With Scale from Zero at Azure with Modified Parameters Provided in Stencil"
**What happened**:

Currently, trying to scale from zero for a landscape under AWS works fine, but the same behavior does not happen at Azure. The following: https://github.com/gardener/autoscaler/issues/27 was filed for support for scale from zero, for cases where the scale from zero should occur based on parameters provided in a stencil, rather than the hard-coded instance details (cpu, gpu, etc

[2022-07-29 15:16] terzian-g commented on #145
An example of a landscape facing this issue in development, in our internal network, is: i548674bm.

Thank you.

[2022-08-01 09:11] ghost commented on #145
Hi @himanshu-kun , were you able to connect to the landscape and observe the issue ?

[2022-08-01 09:54] himanshu-kun commented on #145
Hi @Yakov914A
No I haven't looked into it yet. I have created a landscape ticket for this, lets continue the discussion there https://github.tools.sap/kubernetes-canary/issues-canary/issues/2506

[2022-08-01 10:37] #135 closed, assigned to nobody

[2022-08-04 04:20] himanshu-kun commented on #107
/close as release 1.23 is done.

[2022-08-04 04:20] #107 closed, assigned to himanshu-kun

[2022-08-04 06:02] ialidzhikov commented on #107
What about 1.24?

[2022-08-04 07:20] himanshu-kun commented on #107
will create a seperate issue for that.

[2022-08-04 09:08] rishabh-11 opened #153 "Sync with upstream v1.24"
**What would you like to be added**:
Gardener autoscaler should be synced with [kubernetes autoscaler 1.24](https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.24.0)

**Why is this needed**:
To keep our fork updated

[2022-08-08 05:54] #153 closed, assigned to nobody

[2022-08-16 03:32] himanshu-kun commented on #145
/close as its not an issue

[2022-08-16 03:32] #145 closed, assigned to himanshu-kun

[2022-09-16 06:57] himanshu-kun opened #154 "Early abort/backoff support for Gardener nodegroups a.k.a machinedeployments"
**What would you like to be added**:

Usage of `ErrorClass` is needed in the mcm implementation of `NodeGroup.Node()` interface method. Currently the Error types [supported](https://github.com/gardener/autoscaler/blob/dacb105216e2fe6d49e801e8f36cdaf1b8f0a7da/cluster-autoscaler/cloudprovider/cloud_provider.go#L252-L258) are `OutOfResourcesErrorClass` and `OtherErrorClass`.

**Why is this needed**:

[2022-10-07 10:24] ashwani2k opened #155 "Sync with upstream v1.25"
**What would you like to be added**:
Gardener autoscaler should be synced with [kubernetes autoscaler 1.25](https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.25.0)
Task --
- [ ] Rebase with upstream v1.25
- [ ] Update the Availability Matrix
- [ ] Deprecate the version we don't support.

**Why is this needed**:
- Gardener now support v1.25 https://github.com/gardener/garde

[2022-10-12 18:07] sunir1 commented on #154
@himanshu-kun As discussed, in HANA-Cloud we rely on the quick fallback capability to address capacity issues with cloud providers, by having multiple WorkerGroups, where we start with the least expensive one, and only if needed, due to limited capacity fallback to more expensive ones.

In addition, a significant flux of pods is a very relevant scenario, which can happen during cluster update and/

[2022-10-25 07:19] shreyas-s-rao opened #156 "VPA does not provide recommendations for resources with a parent resource that defines `/scale` subresource"
**What happened**:
VPA does not provide recommendations for resources whose parent resource defines the `/scale` subresource.
Case in point: the etcd statefulset in gardener is targeted by the VPA in order to provide scaling recommendations for the etcd pod(s). The etcd statefulset is controlled by etcd-druid, which generally did not specify the `ownerRef` on it. With g/g v1.53.0, etcd-druid start

[2022-10-28 11:40] timuthy commented on #156
Is it planned to open another issue in the official `kubernetes/autoscaler` repository and get feedback from the community or is there another vision to fix this permanently?

[2022-10-28 12:59] andrerun commented on #156
VPA presumably could deal with the /scale subresource, as long as we point it (VPA) to the Etcd resource. It is designed to work with custom replication controllers. I believe that HVPA is currently limited to a list of well-known replication controllers though. So, as long as we're using HVPA to scale etcd, we'd need to enhance HVPA if we are to make use of the Etcd/scale subresource.

[2022-11-25 05:34] himanshu-kun commented on #30
An issue has been seen currently where this mechanism scales below `min`.
Although it didn't disrupt anything as it removed long unregistered nodes, the only thing is autoscaler won't try to scale that node grp up to minimum until we have an unschedulable pod requesting that scale-up.
So dashboard would have errors like `Not enough worker nodes`.
This could be solved by reconciling the shoot becau

[2022-11-29 11:35] himanshu-kun commented on #95
/close as scale-from-zero works with changed runtime resources also

[2022-11-29 11:35] #95 closed, assigned to nobody

[2022-11-29 11:36] himanshu-kun commented on #52
/close as scale from zero is now supported for all Gardener supported providers

[2022-11-29 11:37] #52 closed

[2022-11-29 11:43] himanshu-kun commented on #87
/close
/duplicate #30
no stale data issue, its a behavior of autoscaler

[2022-11-29 11:43] #87 closed, assigned to nobody

[2022-11-29 11:44] himanshu-kun commented on #88
/close Generic scale to zero support is there now, and now the machinetype details are fetched from the cloudprofile

[2022-11-29 11:44] #88 closed, assigned to nobody